# Instalador generado
*.exe

# Build artifacts
app/out/
app/dist/
app/node_modules/
app/resources/extra/rclone.exe

# Logs de migraciones
logs/
legacy/logs/

# Configuración local
envMigracion.json

# Temporales de Windows
Thumbs.db
desktop.ini
